body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    background-color: #5F0A87;
    color: white;
}

header {
    background-color: transparent;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 35px;
}

.titre h1::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff, transparent);
}

.conteneur-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    padding: 20px;
}

.categorie {
    flex-basis: calc(50% - 20px);
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-color: #FF4A1C;
    margin: 20px;
    padding: 20px;
    border: 4px solid #000000;
    border-image: linear-gradient(135deg, #5F0A87, #FF4A1C) 1;
    transition: transform 0.3s ease;
    text-align: center;

}

.categorie:hover {
    transform: scale(1.1);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}

.reseaux {
    margin-bottom: 10px;
}

.reseaux img {
    width: 30px;
    height: auto;
    margin: 0 5px;
}

header a {
  text-decoration: none;
}